* {
  all: unset;
}

@define-color foreground @LEENIUM_FOREGROUND@;
@define-color background @LEENIUM_BACKGROUND@;
@define-color accent @LEENIUM_TEAL@;
@define-color popup @LEENIUM_POPUP@;
@define-color disabled @LEENIUM_DISABLED@;
@define-color selection @LEENIUM_SELECTION@;
@define-color bright @LEENIUM_BRIGHT@;
@define-color cyan @LEENIUM_CYAN@;
@define-color secondary @LEENIUM_SECONDARY@;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  color: @foreground;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@background, 0.95);
  padding: 20px;
  border: 2px solid @accent;
}

.search-container {
  background: @popup;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
  color: @disabled;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected {
  background: @selection;
}

child:selected .item-box * {
  color: @bright;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-subtext {
  font-size: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
  color: @cyan;
}

.keybind-hints {
  background: @background;
  color: @secondary;
  padding: 10px;
  margin-top: 10px;
}
